form {

    a::after {
        content: "";
        position: absolute;
        top: 18px;
        left: 22px;
        width: 119px;
        height: 1px;
        transition: .2s;
    }

    a:hover::after {
        left: 0px;
        width: 100%;
    }
}

.input, .submit, .group {
    position: relative;

    .alert, .alert-2 {
        position: absolute;
        color: $red;
        font-size: 11px;
        font-weight: 300;
        top: 16px;
        opacity: 0;
        left: 20px;
    }
    
}

.input.alrt {

    .alert {
        opacity: 1;
        transition: .2s;
    }

    input {
        border: 1px solid $red;
        transition: .2s;
        padding-top: 16px; 
    }
}

.input.alrt2 {

    .alert-2 {
        opacity: 1;
        transition: .2s;
    }

    input {
        border: 1px solid $red;
        transition: .2s;
        color: $red;
        padding-top: 16px;
    }

    
}

.input input {
    width: 100%;
    height: 71px;
    padding-left: 20px;
    border: 1px solid $input-border;
    font-size: $f-md;
    line-height: 24px;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    color: $wh;

    &::placeholder {
        color: rgba($color: $wh, $alpha: .5);
        letter-spacing: .02em;
    }
}

.textarea {
    width: 100%;
    height: 175px;
    border: 0;
    padding: 20px;
    border: 1px solid $input-border;
    border-top: none;
    font-size: $f-md;
    line-height: 24px;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    resize: none;
    color: $wh;

    &::placeholder {
        color: rgba($color: $wh, $alpha: .5);
        letter-spacing: .02em;
        font-family: $popins;
        font-size: $f-md;
    }
}

.alert.alert--group {
    left: 0px;
    top: 23px;

    &.show {
    opacity: 1;
    transition: .2s;
    }
} 


.checkbox {
    font-size: 11px;
    color: $wh;
    padding-top: 50px;

    a {
        display: inline;
        position: relative;

        &::after {
            content: "";
           position: absolute;
           height: 1px;
           width: 100%;
           background-color: $wh;
           bottom: -5px;
           left: 0px;
        }
    }
}

.checkbox input {
    display: none;
}

.checkbox label {
    margin-left: 30px;
    position: relative;
}

.checkmark {
    position: absolute;
    height: 18px;
    width: 18px;
    border: 1px solid $wh;
    border-radius: 2px;
    left: -30px;
    top: -5px;
    cursor: pointer;
    background-color: $wh;
}

.checkmark.alrt {
    border: 1px solid $red;
}

.checkmark::after {
    opacity: 0;
  }
  
.checkbox input:checked ~ .checkmark::after {
    opacity: 1;
}

.checkmark::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid $mainblue;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: .2s;
}